{% extends 'base.html' %}

{% block content%}

<!----------------------------- FORMULARIO DE REGISTRO --------------------------------->
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <h3 class="text-center custom-tittle">¡Únete a la comunidad Store Games!</h3>
                
                <form id="registroForm">
                    <div class="mb-3">
                        <label for="rut" class="form-label">RUT</label>
                        <input type="text" class="form-control" id="rut" placeholder="Ingrese su RUT" required onblur="validarRut()">
                        <div id="error-rut" class="text-danger mt-1"></div>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su Nombre" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="apellidoP" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apellidoP" placeholder="Ingrese su Apellido Paterno" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellidoM" class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="apellidoM" placeholder="Ingrese su Apellido Materno" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección" required>
                    </div>
                    <div class="mb-3">
                        <label for="comuna" class="form-label">Comuna</label>
                        <input type="text" class="form-control" id="comuna" placeholder="Ingrese su comuna" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Número de Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su número" required onblur="validarTelefono()">
                        <div id="error-telefono" class="text-danger mt-1"></div> 
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="region" class="form-label">Región</label>
                        <select class="form-select" id="region" required>
                            <option value="">Seleccione Región</option>
                            <option>Arica y Parinacota</option>
                            <option>Tarapacá</option>
                            <option>Antofagasta</option>
                            <option>Atacama</option>
                            <option>Coquimbo</option>
                            <option>Valparaíso</option>
                            <option>Metropolitana</option>
                            <option>O'Higgins</option>
                            <option>Maule</option>
                            <option>Ñuble</option>
                            <option>Biobío</option>
                            <option>Araucanía</option>
                            <option>Los Ríos</option>
                            <option>Los Lagos</option>
                            <option>Aysén</option>
                            <option>Magallanes</option>
                            <option>Antártica Chilena</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena" placeholder="Ingrese contraseña" required onblur="validarContrasena()">
                        <div id="error-contrasena" class="text-danger mt-1"></div> 
                    </div>

                    <div class="d-grid">
                        <button type="button" class="btn btn-primary" onclick="datosformulario()">Registrar</button>

                    </div>
                </form>
            </div>                
        </div>
    </div> 
</div>
<script src="JS/funciones.js" defer></script>
</body>
</html>

{% endblock %}