{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <!-- CREAR TITULO DINAMICO QUE CAMBIE ENTRE REGISTRAR Y EDITAR -->
                <h3 class="text-center custom-tittle">
                    {% if form.instance.pk %}
                        Editar Socio
                    {% else %}
                        Registrar Nuevo Socio
                    {% endif %}
                </h3>
                <form method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="d-grid">
                        <!-- CERAR BOTON DINAMICO QUE PASE DE REGISTRAR A EDITAR -->
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}
                                Editar Socio
                            {% else %}
                                Registrar Socio
                            {% endif %}
                        </button>
                    </div>

                    <div class="mt-3 text-center">
                        <a href="{% url 'listar_socios' %}" class="btn btn-outline-secondary">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
