{% extends 'base.html' %}

{% block content%}

    <section class="hero">
        <div class="container h-100 d-flex align-items-center">

            <div class="hero-text">
                <p class="sale">Descuentos de hasta el 50%</p>
                <h1 class="hero-tittle">Los mejores precios</h1>
                <p class="hero-subtitle">
                    Precios siempre bajos en todo el mercado
                </p>
                <a href="{% url 'formulario' %}" class="btn join-btn">Únete al club</a>
            </div>
        </div>

    </section>

{% endblock %}
