{% extends 'base.html' %}

{% block content%}

<section class="hero">
    <div class="container h-100 d-flex align-items-center">
        <div class="hero-text">
            <p></p>

            <h1 class="hero-tittle">Misión</h1>
            <p class="hero-subtitle">
                En Store Games, nos comprometemos a ofrecer los videojuegos, consolas y accesorios de la más alta calidad 
                a los mejores precios del mercado chileno, brindando a nuestros clientes una experiencia de compra personalizada, 
                rápida y segura. Buscamos ser el punto de referencia para todos los gamers del país, manteniéndonos siempre actualizados 
                con los lanzamientos y productos más innovadores.  
            </p>

            <h1 class="hero-tittle">Visión</h1>
            <p class="hero-subtitle">
                Ser la tienda de videojuegos líder en Chile, reconocida por ofrecer la mejor variedad de títulos y accesorios, 
                a precios accesibles para todos los fanáticos del gaming, brindando una experiencia de compra única y confiable, 
                siempre a la vanguardia de las últimas tendencias del mercado. 
            </p>
        </div>

    </div>

</section>

{% endblock %}